<!DOCTYPE html>
<html lang="es" style="background-color: #f2f2f2;">
    <head>
        <title>The Hotels Network</title>
        <meta charset="utf-8" /> <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <style>
        .wrapper {
            -webkit-box-shadow: 10px 10px 3px -4px rgba(173,173,173,0.53);
            -moz-box-shadow: 10px 10px 3px -4px rgba(173,173,173,0.53);
            box-shadow: 10px 10px 3px -4px rgba(173,173,173,0.53);
        }
    </style>
    <body>
        <div class="wrapper" style="border-radius: 5px;width: 400px;margin: auto;background-color: #fff;padding: 15px;margin-top: 50px;">
            <div class="logo" style="width: 30%;margin: auto;">
            <a href="#" class="navbar-brand">
                <img src="https://www.thehotelsnetwork.com/img/logos/logo_color.svg" width="140" alt="The Hotels Network Logo" class="logo" id="logo-desktop">
            </a>
            </div>
            <div class="info" style="color: #607d8b">
                <div>
                {% block body %}
                    {% if hotels is defined %}
                        <h3>Hotel list:</h3>
                        <ul>
                        {% for hotel in hotels %}
                            <li>
                                <a href="/hotel/{{ hotel.id }}/reservation">{{ hotel.name }}</a>
                            </li>
                        {% endfor %}
                        </ul>
                    {% endif %}

                    {% if reservations is defined %}
                        <h3>Reservations:</h3>
                        <ul>
                        {% for reservation in reservations %}
                            <li>
                                Room number: {{ reservation.room_number }} - <b>{{ reservation.user_name }}</b>
                                - Terrace: {{ reservation.has_terrace ? 'Yes':'No' }}

                            </li>
                        {% endfor %}
                        </ul>
                    {% endif %}


                {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
